In [9]:
import pandas as pd
import numpy as np
import math

#read the Spectramax data

x=input('Enter the name of the data file :')
df=pd.read_excel(x+'.xlsx')
df.columns=['Sample','Wells','Pathlength','A260','A280','A320','A230','A260/280']
df=df.drop(df.index[0:2])
df=df.reset_index()
df=df.drop('index', axis=1)

#read COA files
coa=input('Enter the name of the COA file :')
df5=pd.read_excel(coa+'.xls')

#set dataframe
df2_temp=pd.DataFrame()
df2=pd.DataFrame()

#user enter plate names and transform into list
input_string = input("Enter the name of the plate by space, example:pool1_p1 pool1_p2 pool1_p3 pool1_p4 :")
plate  = input_string.split()

pool=int(input('Please enter the number of plates :'))
#grab no. of plate from COA
for i in range(pool):
    df2_temp=df5.loc[df5['Plate Name'] == str(plate[i])]
    df2=df2.append(df2_temp)
    
#reset index
df2=df2.reset_index()
df2=df2.drop('index', axis=1)

def oneplate():
    #getting first plate
    firstplate1=df.loc[0:15:2]
    firstplate2=df.loc[32:47:2]
    firstplate3=df.loc[64:79:2]
    firstplate4=df.loc[96:111:2]
    firstplate5=df.loc[128:143:2]
    firstplate6=df.loc[160:175:2]
    firstplate7=df.loc[192:207:2]
    firstplate8=df.loc[224:239:2]
    firstplate9=df.loc[256:271:2]
    firstplate10=df.loc[288:303:2]
    firstplate11=df.loc[320:335:2]
    firstplate12=df.loc[352:367:2]
    firstplate=[firstplate1,firstplate2,firstplate3,firstplate4,firstplate5,firstplate6,firstplate7,firstplate8,firstplate9,firstplate10,firstplate11,firstplate12]
    firstplate=pd.concat(firstplate)
    firstplate=firstplate.reset_index()
    firstplate=firstplate.drop('index',axis=1)

    #add ext coef into firstplate
    firstplate.loc[:,'Ext_Coef']=df2['Ext Coeff'].loc[df2['Plate Name']== str(plate[0])]
    #print(firstplate.loc[:,'Ext_Coef'])

    #add well position for 96 plates
    platewell=df2['Well Position'].loc[df2['Plate Name']== str(plate[0])]
    firstplate['Wells_96']=platewell
    

    #create the concentration and ND8000 column and add into firstplate
    firstplate['Dilution']=200
    firstplate.loc[:,'Concentration_SPM']=firstplate.A260*firstplate.Dilution*1000000/firstplate.Ext_Coef
    

    #add conc from europhins
    firstplate['Conc_Euro']=df2['Conc'].loc[df2['Plate Name']== str(plate[0])]

    #add plate name into first plate
    platename1=df2['Plate Name'].loc[df2['Plate Name']== str(plate[0])]
    firstplate.loc[:,'plate_name']=platename1
    return firstplate;

def twoplate():
    #getting second plate
    secondplate1=df.loc[16:31:2]
    secondplate2=df.loc[48:63:2]
    secondplate3=df.loc[80:95:2]
    secondplate4=df.loc[112:127:2]
    secondplate5=df.loc[144:159:2]
    secondplate6=df.loc[176:191:2]
    secondplate7=df.loc[208:223:2]
    secondplate8=df.loc[240:255:2]
    secondplate9=df.loc[272:287:2]
    secondplate10=df.loc[304:319:2]
    secondplate11=df.loc[336:351:2]
    secondplate12=df.loc[368:383:2]
    secondplate=[secondplate1,secondplate2,secondplate3,secondplate4,secondplate5,secondplate6,secondplate7,secondplate8,secondplate9,secondplate10,secondplate11,secondplate12]
    secondplate=pd.concat(secondplate)
    secondplate=secondplate.reset_index()
    secondplate=secondplate.drop('index',axis=1)

    #add ext coef into secondplate
    ext2=df2['Ext Coeff'].loc[df2['Plate Name']== str(plate[1])]
    ext2=ext2.reset_index()
    ext2=ext2.drop('index',axis=1)
    secondplate['Ext_Coef']=ext2

    #add well 96
    wp2=df2['Well Position'].loc[df2['Plate Name']== str(plate[1])]
    wp2=wp2.reset_index()
    wp2=wp2.drop('index',axis=1)
    secondplate['Wells_96']=wp2

    #create the ND8000 column and add into secondplate
    secondplate['Dilution']=200
    secondplate.loc[:,'Concentration_SPM']=secondplate.A260*secondplate.Dilution*1000000/secondplate.Ext_Coef
    
    #add conc euro
    conc2=df2['Conc'].loc[df2['Plate Name']== str(plate[1])]
    conc2=conc2.reset_index()
    conc2=conc2.drop('index',axis=1)
    secondplate['Conc_Euro']=conc2


    #add plate name into second plate
    platename2=df2['Plate Name'].loc[df2['Plate Name']== str(plate[1])]
    platename2=platename2.reset_index()
    platename2=platename2.drop('index',axis=1)
    secondplate['plate_name']=platename2
    return secondplate;

def threeplate():
    #getting third plate
    thirdplate1=df.loc[1:16:2]
    thirdplate2=df.loc[33:48:2]
    thirdplate3=df.loc[65:80:2]
    thirdplate4=df.loc[97:112:2]
    thirdplate5=df.loc[129:144:2]
    thirdplate6=df.loc[161:176:2]
    thirdplate7=df.loc[193:208:2]
    thirdplate8=df.loc[225:240:2]
    thirdplate9=df.loc[257:272:2]
    thirdplate10=df.loc[289:304:2]
    thirdplate11=df.loc[321:336:2]
    thirdplate12=df.loc[353:368:2]

    thirdplate=[thirdplate1,thirdplate2,thirdplate3,thirdplate4,thirdplate5,thirdplate6,thirdplate7,thirdplate8,thirdplate9,thirdplate10,thirdplate11,thirdplate12]
    thirdplate=pd.concat(thirdplate)
    thirdplate=thirdplate.reset_index()
    thirdplate=thirdplate.drop('index',axis=1)

    #add ext coef into thirdplate
    ext3=df2['Ext Coeff'].loc[df2['Plate Name']== str(plate[2])]
    ext3=ext3.reset_index()
    ext3=ext3.drop('index',axis=1)
    thirdplate['Ext_Coef']=ext3

    #add well 96
    wp3=df2['Well Position'].loc[df2['Plate Name']== str(plate[2])]
    wp3=wp3.reset_index()
    wp3=wp3.drop('index',axis=1)
    thirdplate['Wells_96']=wp3

    #create the ND8000 column and add into thirdplate
    thirdplate['Dilution']=200
    thirdplate.loc[:,'Concentration_SPM']=thirdplate.A260*thirdplate.Dilution*1000000/thirdplate.Ext_Coef
    

    #add conc euro
    conc3=df2['Conc'].loc[df2['Plate Name']== str(plate[2])]
    conc3=conc3.reset_index()
    conc3=conc3.drop('index',axis=1)
    thirdplate['Conc_Euro']=conc3

    #add plate name into third plate
    platename3=df2['Plate Name'].loc[df2['Plate Name']== str(plate[2])]
    platename3=platename3.reset_index()
    platename3=platename3.drop('index',axis=1)
    thirdplate['plate_name']=platename3
    return thirdplate;

def fourplate():
    #getting fourth plate
    fourthplate1=df.loc[17:32:2]
    fourthplate2=df.loc[49:64:2]
    fourthplate3=df.loc[81:96:2]
    fourthplate4=df.loc[113:128:2]
    fourthplate5=df.loc[145:160:2]
    fourthplate6=df.loc[177:192:2]
    fourthplate7=df.loc[209:224:2]
    fourthplate8=df.loc[241:256:2]
    fourthplate9=df.loc[273:288:2]
    fourthplate10=df.loc[305:320:2]
    fourthplate11=df.loc[337:352:2]
    fourthplate12=df.loc[369:384:2]
    fourthplate=[fourthplate1,fourthplate2,fourthplate3,fourthplate4,fourthplate5,fourthplate6,fourthplate7,fourthplate8,fourthplate9,fourthplate10,fourthplate11,fourthplate12]
    fourthplate=pd.concat(fourthplate)
    fourthplate=fourthplate.reset_index()
    fourthplate=fourthplate.drop('index',axis=1)

    #add ext coef into fourthplate
    ext4=df2['Ext Coeff'].loc[df2['Plate Name']== str(plate[3])]
    ext4=ext4.reset_index()
    ext4=ext4.drop('index',axis=1)
    fourthplate['Ext_Coef']=ext4

    #add well 96
    wp4=df2['Well Position'].loc[df2['Plate Name']== str(plate[3])]
    wp4=wp4.reset_index()
    wp4=wp4.drop('index',axis=1)
    fourthplate['Wells_96']=wp4

    #create the ND8000 column and add into secondplate
    fourthplate['Dilution']=200
    fourthplate.loc[:,'Concentration_SPM']=fourthplate.A260*fourthplate.Dilution*1000000/fourthplate.Ext_Coef
    

    #add conc euro
    conc4=df2['Conc'].loc[df2['Plate Name']== str(plate[3])]
    conc4=conc4.reset_index()
    conc4=conc4.drop('index',axis=1)
    fourthplate['Conc_Euro']=conc4

    #add plate name into second plate
    platename4=df2['Plate Name'].loc[df2['Plate Name']== str(plate[3])]
    platename4=platename4.reset_index()
    platename4=platename4.drop('index',axis=1)
    fourthplate['plate_name']=platename4
    return fourthplate;

if pool == 1:
    firstplate=oneplate()
    finaldata=[firstplate]
    

elif pool ==2:
    firstplate=oneplate()
    secondplate=twoplate()   
    finaldata=[firstplate,secondplate]
    

elif pool==3:
    firstplate=oneplate()
    secondplate=twoplate()
    thirdplate=threeplate() 
    finaldata=[firstplate,secondplate,thirdplate]
    
elif pool==4:
    firstplate=oneplate()
    secondplate=twoplate()
    thirdplate=threeplate()
    fourthplate=fourplate()
    finaldata=[firstplate,secondplate,thirdplate,fourthplate]

finaldata=pd.concat(finaldata)
finaldata=finaldata.reset_index()
finaldata=finaldata.drop('index',axis=1)
#input for stock vol and final conc
finaldata['Stock_Vol']=150.0
finaldata['Final_Conc']=50.0
finaldata['Vol_to_add']=finaldata.Stock_Vol*finaldata.Concentration_SPM/finaldata.Final_Conc-finaldata.Stock_Vol
#rearrange title
finaldata=finaldata[['Wells','Wells_96','plate_name','Pathlength','A260','A280','A320','A230','A260/280','Dilution','Ext_Coef','Concentration_SPM','Conc_Euro','Stock_Vol','Final_Conc','Wells_96','Vol_to_add']]
#dropNaN
finaldata=finaldata.dropna()
finaldata.to_excel(x+'_Transform.xlsx')
print('The output excel file is name ' + x +'_Transform.xlsx')

Enter the name of the data file :20190121_pool6_p1_to_p2_#8617807.xls
Enter the name of the COA file :Order_11200373527_Partial_Shipment_2372175YC (8617807)
Enter the name of the plate by space, example:pool1_p1 pool1_p2 pool1_p3 pool1_p4 :pool6_p1 pool6_p2
Please enter the number of plates :2
The output excel file is name 20190121_pool6_p1_to_p2_#8617807.xls_Transform.xlsx

In [ ]:
Enter the name of the data file20190121_pool4p3top5_pool5p2_8617807.xls
Enter the name of the COA fileOrder_11200373527_Partial_Shipment_2372175YC (8617807)
Enter the name of the plate by space, example:pool1_p1 pool1_p2 pool1_p3 pool1_p4 pool4_p3 pool4_p4 pool4_p5 pool5_p2 
Please enter the number of plates:4